@model Entities.eAccount

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Layout_Empty.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Đăng nhập vào TravelIUH</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <span class="text-danger"> @ViewBag.error</span>                      
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tài khoản:</label>
                        @Html.TextBoxFor(m => m.id, "", new { @class = "form-control", @placeholder = "Tài khoản" })
                        @Html.ValidationMessageFor(m => m.id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mật khẩu:</label>
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>


