@model Entities.eTour

@{
    ViewBag.Title = "Xóa tour";
    Layout = "~/Views/Shared/Layout_Empty.cshtml";
}

<h3><span class="badge badge-danger">XÓA TOUR</span></h3>
<div class="alert alert-warning">
    <strong>Warning!</strong> Bạn có chắc muốn xóa tour này ?
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tourID)
        </dd>

        <dt>
            Tên tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tourName)
        </dd>

        <dt>
            Thời gian khởi hành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureDate)
        </dd>

        <dt>
            Thời gian đi (ngày)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfDay)
        </dd>

        <dt>
            Địa điểm khởi hành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startAddress)
        </dd>

        <dt>
            Giá tiền (VNĐ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numSeat)
        </dd>

        <dt>
            Chỗ đã đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emptySeat)
        </dd>

        <dt>
            Chỗ đã đặt
        </dt>

        @if (Model.tourType == true)
        {
            <dd>
                Trong nước
            </dd>
        }
        else
        {
            <dd>
                Nước ngoài
            </dd>
        }
        <hr />
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-outline-danger" />
                </div>
            }
        </dd>

    </dl>   
</div>
<hr />

<p>
    @Html.ActionLink("← Quay trở lại danh sách tour", "Index")
</p>

