<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--BUTTON TOP-->
    <!------------------------------------------------------------------------>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            if ($(".btn-top").length > 0) {
                $(window).scroll(function () {
                    var e = $(window).scrollTop();
                    if (e > 300) {
                        $(".btn-top").show()
                    } else {
                        $(".btn-top").hide()
                    }
                });
                $(".btn-top").click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    })
                })
            }
        });
    </script>
    <div class="footer"> <a class="btn-top" href="javascript:void(0);" title="Top" style="display: inline;"></a> </div>
    <style>
        .btn-top {
            background-image: url('../../Images/topBtn.jpg');
            background-repeat: no-repeat;
            border: medium none;
            bottom: 20px;
            cursor: pointer;
            display: none;
            height: 50px;
            outline: medium none;
            padding: 0;
            position: fixed;
            right: 20px;
            width: 50px;
            z-index: 9999;
        }
    </style>
    <!-- NAVIGATION BAR -->
    <!------------------------------------------------------------------------------>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img src="~/Images/travel-and-tourism.png" alt="Logo" style="width:40px;"><b>TravelIUH</b>
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "nav-link" })
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Du lịch
                </a>
                <div class="dropdown-menu">
                    @Html.ActionLink("Tour trong nước", "TourType", "Home", new { i = 1 }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Tour nước ngoài", "TourType", "Home", new { i = 0 }, new { @class = "dropdown-item" })
                </div>
            </li>

            <li class="nav-item">
                @Html.ActionLink("Giới thiệu", "About", "Home", new { @class = "nav-link" })
            </li>
            @if (Session["FullName"] != null)
            {
                if (Session["FullName"].ToString().Equals("admin"))
                {
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Bảng quản trị
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Quản lý tour", "Index", "Tour", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Quản hóa đơn", "Index", "Bill", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Quản hóa phản hồi", "Index", "Feedback", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            @Session["FullName"].ToString()
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Đăng xuất", "Logout", "Home", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Phản hồi", "FeedBack", "Home", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            @Session["FullName"].ToString()
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Thông tin", "Index", "Customer", new { id = int.Parse(@Session["id"].ToString()) }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Đăng xuất", "Logout", "Home", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            }
            else
            {
                <li>@Html.ActionLink("Đăng nhập", "Login", "Home", new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Đăng ký", "Register", "Home", new { @class = "nav-link" })</li>
            }

        </ul>
    </nav>
    <br /><br />
    <!------------------------------------------------------------------------------>
    <!--BODY Ở CÁC VIEW-->
    <!------------------------------------------------------------------------>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bài tập lớn môn lập trình WWW</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
